@import (inline) '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'stream';

body {
  background-color: #eee;
}
.btn-lg{
    max-width: 330px;
}
.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0;
}

input{
  margin-bottom:10px;
  max-width: 330px;
}
.input-group{
  margin: 20px auto;
}
.time{
  font-size: 66%;
}
.stream-item-content{
  background-color: #eee;
}

.signin {
  padding-bottom: 40px;
}


.message-btn-margin {
    margin-top: 10px;
}

.password-reset-distribution {
position: fixed;
left: 25;
left: 35%;
}

label.formError, small {
  color: red;
}

.container-padding{
padding-left: 10px;
padding-right: 20px;
}

.btn-margin{
  margin-left: 60px;
}
.dropzone-padding{
  margin-top: 10px;
}

.resizedAlert {
    width: 450px;
}

.filedroparea {
  display: none;
  margin-top: 10px;
  height: 100px;
  border: 3px dashed #ccc;

  h1 {
    color: #ccc;
    margin-top: 25px;
    margin-left: 150px;
  }
}

.dragover {
  border: 3px dashed rgb(46, 109, 164);
}

.image-preview {
  display: none;
  height: 65px;
}


.message-image {
    max-height: 190px;
    overflow: hidden;
}

#sendMsg_button{
margin: 0;
margin-left: -4px;
width: 80%;
border: 0;
border-radius: 0 0 4px 0;
background-color: #337ab7;
color: white;
border-left: 1px solid #2e6da4;
}

#addImg_button{
margin: 0;
width: 20%;
border: 0;
border-radius: 0 0 0 4px;
background-color: #337ab7;
color: white;
}
#sendMsg_button:focus{
outline: none;
}
#addImg_button:focus{
outline: none;
}

#msg_textarea{
width: 100%;
border: 1px solid grey;
border-bottom: 0;
padding: 5px;
font-family: Helvetica;
border-radius: 4px 4px 0px 0px;
margin: 0;
resize: none;
background-color: rgba(255,255,255,0.7);
}
#msg_textarea:focus{
outline: 0;
}