<!-- REGISTRATION FORM  ~  novalidate disables HTML5 validation-->
<form class="" name="register_form"  novalidate>

<h2>Please register</h2>

<input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username">
<!-- <p ng-show="" class="help-block">username is already taken</p>   // Validate if username is already taken-->

<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address">
<p ng-show="" class="help-block">Enter a valid email.</p>

<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
<p ng-show="" class="help-block">Enter a valid email.</p>


<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="userForm.$invalid">Register</button>
</br>
</form>
