<!-- REGISTRATION FORM  ~  novalidate disables HTML5 validation-->
<form class="" name="registrationForm" ng-controller="RegisterController as regCtrl" ng-submit="regCtrl.registerUser()" novalidate>
	<input ng-model="regCtrl.user.login" name="login" type="username" class="form-control" placeholder="Username"
	required
	>

	<input type="email" ng-model="regCtrl.user.email" name="email" class="form-control" placeholder="Email address">
	<!-- <p ng-show="" class="help-block">Enter a valid email.</p> -->
	<span ng-hide="registrationForm.email.$error.invalid">email not valid</span>

	<input type="password" ng-model="regCtrl.user.password" name="password" class="form-control" placeholder="Password"
    required 
	>
	<!-- <p ng-show="" class="help-block">Enter a valid email.</p> -->

	<button class="btn btn-lg btn-primary btn-block" ng-disabled="registrationForm.$invalid" type="submit">Register</button>
</form>
