<ul ng-controller="PusherController" id="activity_stream_example" class="activity-stream no-actions animate-repeat">
    <li class="activity test-event" ng-repeat="tweet in tweets">
        <div class="stream-item-content">
            <div class="image"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=monsterid&amp;s=48"
                    width="48" height="48"></div>
            <div class="content">
                <!-- jāuztaisa links uz cilvēka lapu, kas tweeto-->
                <div class="activity-row">
                    <span class="user-name"><a href=""> <em>{{ tweet.name }}</em> </a> </span>
                    <div class="text">{{ tweet.message }}</div>
                    <div class="activity-row"><span class="time">{{ tweet.time }}</span></div>
                </div>
            </div>
        </div>
    </li>
</ul>
<a href="/tests" target="_blank">test</a>