<ul id="activity_stream_example" class="activity-stream no-actions">
    <li class="activity test-event">
        <div class="stream-item-content">
            <div class="image"><img
                    src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=monsterid&amp;s=48"
                    width="48" height="48"></div>
            <div class="content">
                <div class="activity-row"><span class="user-name"><em>Anonymous</em></span>
                </div>
                <div class="activity-row">
                    <div class="text">This is my tweet</div>
                </div>
            </div>
        </div>
    </li>
    <li class="activity test-event">
        <div class="stream-item-content">
            <div class="image"><img
                    src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=monsterid&amp;s=48"
                    width="48" height="48"></div>
            <div class="content">
                <div class="activity-row"><span class="user-name"><em>Anonymous</em></span>
                </div>
                <div class="activity-row">
                    <div class="text">This is my tweet</div>
                </div>
            </div>
        </div>
    </li>
    <li class="activity test-event">
        <div class="stream-item-content">
            <div class="image"><img
                    src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=monsterid&amp;s=48"
                    width="48" height="48"></div>
            <div class="content">
                <div class="activity-row"><span class="user-name"><em>Anonymous</em></span>
                </div>
                <div class="activity-row">
                    <div class="text">This is my tweet</div>
                </div>
            </div>
        </div>
    </li>
</ul>