<div class="jumbotron">
    <nav class="navbar navbar-inverse navbar-fixed-top container-padding">
        <div class="container ">
            <div class="navbar-header">
                <h3 class="navbar-text">Bootcamp app</h3>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <form class="navbar-form navbar-right">
                  <div ng-controller="LoginController as loginCtrl">
                      <a href="#/" type="button" class="btn btn-primary navbar-btn">New messges</a>
                      <button id="logout" class="btn btn-primary navbar-btn" ng-click="loginCtrl.logout()"> Logout </button>
                  </div>
              </form>
            </div>
        </div>
    </nav>
</div>
