
<div ng-controller="ProfileController as profileCtrl">
    <div ng-switch on="profileCtrl.auth()">
        <nav class="navbar navbar-inverse navbar-fixed-top container-padding">
            <div class="container">
                <div ng-switch-when="true">
                    <div ng-include="'headerButtons.html'" ></div>
                </div>
                <div class="navbar-header">
                    <h3 class="navbar-text">Bootcamp app</h3>
                </div>
            </div>
        </nav>
    </div>
</div>
