<form name="msgForm"
      ng-controller="MsgController as msgCtrl"
      ng-submit="msgCtrl.submit();"
      novalidate>

    <textarea name="message"
    		  ng-model="msgCtrl.msg.message"
              class="form-control custom-control"
              rows="3"
              required >
    </textarea>

    <div ng-file-select ng-file-drop ng-model="msgCtrl.img.image">
        <div class="out form-control custom-control">
            <div class="input"
                >Drag and Drop or Click to add picture
                <div>{{ msgCtrl.img.image[0].name }}</div>
            </div>
        </div>
    </div>

    <button id="sendMsg"
            class="btn btn-sm btn-primary btn-block message-btn-margin"
            type="submit"
            ng-disabled="msgForm.$invalid || msgCtrl.disabled"
            >{{ msgCtrl.buttonText }}
    </button>
    <!-- <label  ng-show="msgCtrl.internalError"
            name="internalError"
            class="formError">
            500 Internal Server Error
    </label> -->
</form>
