<form class=""
    name="registrationForm"
    ng-controller="RegisterController as regCtrl"
    ng-submit="regCtrl.registerUser()"
    novalidate>

    <div class="alert alert-success" ng-show = "regCtrl.userRegistered "role="alert">Well done! You managed to register successfuly.</div>

    <label ng-show="regCtrl.userError" name="registerError" class="formError">Username is already taken!</label>
    <label ng-show="regCtrl.mailError" name="registerError" class="formError">There is already registered user with this e-mail!</label>

    <input  ng-model="regCtrl.user.login"
            name="registrationLogin"
            type="username"
            ng-pattern="/^\S[a-zA-Z0-9]{1,64}$/"
            class="form-control"
            placeholder="Username"
            required >

    <div class="error-container" ng-show="registrationForm.registrationLogin.$dirty && registrationForm.registrationLogin.$invalid">
        <small class="error" ng-show="registrationForm.registrationLogin.$error.pattern">
                Invalid login. Please use only characters.
        </small>
    </div>

    <input  type="email"
            ng-model="regCtrl.user.email"
            name="registrationEmail"
            class="form-control"
            placeholder="Email address"
            ng-minlength=6
            ng-maxlength=256
            ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{1,5}$/"
            required>

    <div class="error-container" ng-show="registrationForm.registrationEmail.$dirty && registrationForm.registrationEmail.$invalid">

        <small class="error" ng-show="registrationForm.registrationEmail.$error.email">
               That is not a valid email. Please input a valid email.<br/>
        </small>

        <small class="error" ng-show="registrationForm.registrationEmail.$error.maxlength">
                Your email cannot be longer than 20 characters<br/>
        </small>
        <small class="error" ng-show="registrationForm.registrationEmail.$error.pattern">
                The email pattern is invalid. It should be something like mail@example.com.
        </small>
    </div>

    <input type="password"
           ng-model="regCtrl.user.password"
           name="registrationPassword"
           class="form-control"
           placeholder="Password"
           required>

    <button class="btn btn-lg btn-primary btn-block" ng-disabled="registrationForm.$invalid || regCtrl.disabled" type="submit">{{ regCtrl.buttonText }}</button>
    <label ng-show="regCtrl.internalError" name="internalError" class="formError">500 Internal Server Error</label>
</form>
