
<div class="col-md-12 password-reset-distribution" >

    <form class="" name="resetPasswordForm" ng-controller="ResetPasswordController as resetPassCtrl"
    ng-submit="resetPassCtrl.resetPassword()" novalidate>

        <input ng-model="resetPassCtrl.passwordReset.password1" name="password1" type="password" class="form-control"
        placeholder="password" required>

        <input ng-model="resetPassCtrl.passwordReset.password2" name="passsword2" type="password" class="form-control"
        placeholder="password" required>

        <button class="btn btn-lg btn-primary btn-block" ng-disabled="resetPassCtrl.$invalid" type="submit">Reset Password</button>
    </form>

</div>
