
<div class="col-md-12 password-reset-distribution" >

    <form class="" name="resetPasswordForm" ng-controller="ResetPasswordController as resetPassCtrl"
    ng-submit="resetPassCtrl.resetPassword()" novalidate>

    <p class="alert alert-success resizedAlert" ng-show = "resetPassCtrl.passwordResset "role="alert">Password resset successful.</p>

        <input ng-model="resetPassCtrl.passwordReset.password" name="password" type="password" class="form-control"
        placeholder="password" required>

        <input ng-model="resetPassCtrl.passwordReset.password2" name="passsword2" type="password" class="form-control"
        placeholder="password" required>

        <button class="btn btn-lg btn-primary btn-block" ng-disabled="resetPassCtrl.$invalid || resetPassCtrl.disabled" type="submit">{{ resetPassCtrl.buttonText }}</button>
        <a href="#/" class="btn btn-lg btn-primary btn-block" >Back to Homepage</a>
    </form>

</div>
