<div ng-controller="PusherController as pusherCtrl" >
    <ul id="activity_stream_example" class="activity-stream no-actions animate-repeat">
        <li class="activity test-event" ng-repeat="tweet in pusherCtrl.pusherMessages() track by $index">
            <div class="stream-item-content">
                <div class="image"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=monsterid&amp;s=48"
                        width="48" height="48"></div>
                <div class="content">
                    <!-- jāuztaisa links uz cilvēka lapu, kas tweeto-->
                    <div class="activity-row">
                        <span class="user-name">
                            <a ng-href="#/{{ tweet.name }}">{{ tweet.name }}</a>
                        </span>
                        <div class="text">{{ tweet.message }}</div>
                        <div class="activity-row"><span class="time">{{ tweet.time }}</span></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div infinite-scroll="pusherCtrl.myPagingFunction()" infinite-scroll-distance="0.5" >
        <ul id="activity_stream_example" class="activity-stream no-actions animate-repeat">
            <li class="activity test-event" ng-repeat="message in pusherCtrl.contentMessages()">
                <div class="stream-item-content">
                    <div class="image">
                        <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=monsterid&amp;s=48"
                             width="48"
                             height="48"/>
                    </div>
                    <div class="content">
                        <div class="activity-row">
                            <span class="user-name">
                                <a ng-href="#/{{ message.owner }}">{{ message.owner }}</a>
                            </span>
                            <div class="text">{{ message.message }}</div>
                            <div class="activity-row"><span class="time">{{ message.created_at }}</span></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
