<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block; padding-right: 0px;">
    <div class="modal-backdrop fade in" style="height: 100%;"></div>
    <div class="modal-dialog ng-scope" ng-controller="UserModalController as modalCtrl">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#/" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
                <h4 class="modal-title" id="myModalLabel">{{ modalCtrl.user.login }}</h4>
            </div>
            <div class="modal-body">
                <p>Email: {{ modalCtrl.user.email }}</p>
                <p>One fine body&hellip;</p>
                <button type="button"
                        ng-show="modalCtrl.auth()"
                        class="btn btn-primary btn-lg"
                        ng-disabled="modalCtrl.followButtonDisabled"
                        ng-click="modalCtrl.followUser()"
                        >{{ modalCtrl.followButtonText }}</button>

                <hr/>

                <div class="modal-cont">
                    <li class="activity test-event" ng-repeat="message in modalCtrl.messages">
                        <div class="stream-item-content2">
                            <div class="userImage">
                                <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=monsterid&amp;s=48"
                                     width="48"
                                     height="48"/>
                            </div>
                            <div class="userContent">
                                <div class="activity-row">
                                    <span class="user-name">
                                        <a ng-href="#/{{ message.owner }}">{{ message.owner }}</a>
                                    </span>
                                    <div class="userText">{{ message.message }}</div>
                                    <div class="activity-row"><span class="time">{{ message.created_at }}</span></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
